.page-list .list-container,
.page-list .level-container,
.page-list .meta-container {
    padding-block: 2rem;
}
.page-list .list-container {
    padding-inline: 1rem;
}
.page-list .meta-container {
    padding-right: 2rem;
}

.page-list .list {
    table-layout: auto;
}
.page-list .list .rank {
    text-align: end;
    padding-right: 1rem;
}
.page-list .list .level {
    width: 100%;
}
.page-list .list .level button {
    background-color: var(--color-background);
    color: var(--color-on-background);
    border: none;
    border-radius: 0.5rem;
    padding: 1rem;
    text-align: start;
    word-break: normal;
    overflow-wrap: anywhere;
    cursor: pointer;
    transition: background-color 75ms ease-in;
}
.page-list .list .level.error button {
    color: var(--color-error);
    cursor: not-allowed;
    text-decoration: line-through;
}
.page-list .list .level button:hover {
    background-color: var(--color-background-hover);
    color: var(--color-on-background-hover);
}
.page-list .list .level.active button {
    background-color: var(--color-primary);
    color: var(--color-on-primary);
}
.page-list .level-container .level {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding-right: 2rem;
    max-width: 48rem;
}
.page-list .level-container .level .level-authors {
    display: grid;
    grid-template-columns: max-content 1fr;
    grid-auto-rows: max-content;
    gap: 1rem;
}
.page-list .level-container .level .video {
    aspect-ratio: 16/9;
}
.page-list .level-container .level .stats {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    gap: auto;
}
.page-list .level-container .level .stats li {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}
.page-list .level-container .level .records {
    table-layout: fixed;
}
.page-list .level-container .level .records tr td:not(:last-child) {
    padding-right: 1rem;
}
.page-list .level-container .level .records .percent,
.page-list .level-container .level .records .user,
.page-list .level-container .level .records .hz {
    padding-block: 1rem;
}
.page-list .level-container .level .records .user {
    width: 100%;
}
.page-list .level-container .level .records .percent,
.page-list .level-container .level .records .hz {
    text-align: end;
}
.page-list .meta-container .og a:hover,
.page-list .level-container .level .records a:hover {
    text-decoration: underline;
}
.page-list .meta {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.page-list .meta .errors {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.page-list .meta .errors .error {
    padding: 1rem;
    background-color: var(--color-error);
    color: var(--color-on-error);
    border-radius: 0.5rem;
}
.page-list .meta .staff {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
}
.page-list .meta .staff li {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}
.page-list .meta .staff li img {
    height: 1.25rem;
}
.page-list .meta .staff li a:hover {
    text-decoration: underline;
}
.notice {
    border: 4px solid var(--color-primary);
    font: inherit;
    padding: 1.3rem;
    color: var(--color-on-background) !important;
    border-radius: 0.5rem;
    box-shadow: 0 1px 0.5rem 0 rgba(0, 0, 102, 0.5);
    margin:5px;
    text-align:center;
}
.pack {
    border-radius: 25px;
    padding: 3px 10px; 
    text-align: center;
    display: inline-block;
    font-family: "Lexend Deca", sans-serif;
    width: fit-content;
    text-wrap: nowrap;
    background: rgba(89, 89, 89, 0.2);
}

.tier-info {
    padding-bottom:1em;
}

.tier-info-header {
    text-align: end;
    justify-content: end;
    align-self: flex-end;
    text-wrap: nowrap;
}

.record-guidelines > p:not(:last-child)  {
    padding-bottom:2em
}

.record-guidelines > p:first-child  {
    padding-top:1em
}

.difficulty-rankings > p:not(:last-child)  {
    padding-bottom:2em
}

.difficulty-rankings:first-child  {
    padding-bottom:4em
}
