.pack-rank {
    padding-left: 2.5rem;
    transition: background-color 75ms ease-in;
}

.pack-name {
    margin-bottom: 0.7rem;
    margin-top: 0.5rem;
}

.threshold-message {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.pack-score {
    margin-bottom:1rem;
    margin-top:1rem;
}


/* 

hi mystik please style this 
idk how to make it not ugly 
okay thanks :3