.pack-divider {
    width: 100%;
    height: 1px;
    background-color: var(--color-primary);
    opacity: 0.5;
}

.pack-level {
    padding-left: 3rem;
    transition: background-color 75ms ease-in;
}

.pack-name {
    margin-bottom: 0.7rem;
}

.pack-name.active {
    background-color: var(--color-primary) !important;
    color: var(--color-on-primary) !important;
}